.full-width {
    width: 100%;
}
.full-width>* { /* all direct children of .full-width */
    display: block;
}

.top {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100px;
}

.flex-box {
    display: flex;
}

.ui-button {
    color: #C00000;
    stroke: maroon;
    background-color: black;
    outline-color: black;
    /*width: 25%;*/
    font-size: 40px;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ui-button:hover {
    transition: background-color 0.5s;
    color: #C00000;
    background-color: gray;
}

.ui-button:not(hover) {
    transition: background-color 0.5s;
}